/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}

/*  end  */

body {
    background-color: #f6f8f9;
}

h3 {
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.triangle {
    width: 0;
    height: 0;
    padding-right: 7px;
    padding-left: 7px;
}

ul {
    list-style: none;
}

/* header */

.logo {
    background-color: #ffffff;
    background-size: 300px;
    width: 100%;
    height: 70px;
    text-align: left;
    position: relative;
    padding: 10px 20px;
    margin: 0;

}

/* main */

.main {
    width: 80%;
    margin: 0 auto;
    padding: 0;
    border: 0;
}

/* 2 button section */

.container {
    position: center;
    display: block;
    background-color: #ffffff;
    margin: 50px auto 0;
    padding: 8px 50px;
    width: 60%;
    height: 40px;
    background-color: #ffffff;
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;
}

/* buttons task and section */

.task {
    padding: 3px 10px;
    display: inline;
    border-radius: 7px;
    font-size: smaller;
    border: 1px solid #bcbcbc;
    color: #000000;
    background-color: #14aaf5;
}

.sect {
    padding: 3px 10px;
    display: inline;
    border-radius: 7px;
    font-size: smaller;
    color: #000000;
    background-color: #ffffff;
    border: 1px solid #bcbcbc;
}

/* to do start here */

.todo {
    position: center;
    display: block;
    background-color: #ffffff;
    margin: 5px auto;
    padding: 8px 50px;
    width: 60%;
    height: auto;   
}

.list {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: #ffffff;
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: center;
    text-align: left;
}

.list li {
    padding-top: 10px;
    text-align: left;
}
 
/* tags and colors */

.tag {
    color: #ffffff;
    display: line-block;
    padding: 3px 10px;
    border-radius: 30px;
    font-size: smaller;
    border: 1px solid #bcbcbc;
}

.editorial {
    background-color: #14aaf5;
    color: #ffffff;
    display: inline-block;

}

.goals {
    background-color: #ab5de6;
    color: #ffffff;
    display: inline-block;
}

.recruiting {
    background-color: #2cc6ab;
    color: #ffffff;
    display: inline-block;

}

.mobile {
    background-color: #f5a623;
    color: #ffffff;
    display: inline-block;

}

.website {
    background-color: #ec4a9d;
    color: #ffffff;
    display: inline-block;

}

.sales {
    background-color: #a3d116;
    color: #ffffff;
    display: inline-block;

}

/* circle chech and cross */

.circle {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
    text-align: center;
    line-height: 15px;
    font-size: smaller;
}

.green {
    color: #2cc6ab;
    border: 2px solid #2cc6ab;
}

.red {
    color: #ec4a9d;
    border: 2px solid #ec4a9d;
}
